html,
body {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

* {
  box-sizing: border-box;
  transition: 0.3s ease;
}

$header-height: 65px;
$dark-color: #1f1a2d;
$grey-color: #e0e0e0;
$blue-color: #4378ff;
$non-active-dark: #847e95;

a {
  color: $blue-color;
  text-decoration: none;
}

.container {
  width: 100vw;
  height: calc(100vh - $header-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  width: 100%;
  text-align: center;
  padding: 15px;

  box-sizing: border-box;
  border-radius: 10px;
}

.btn-grey {
  color: $non-active-dark;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.8) 100%
  );
  border: 1px solid $grey-color;

  &:hover {
    background: #8aabff;
    color: #fff;
  }
}

.input__wrapper {
  width: 100%;
  max-width: 416px;
  position: relative;

  label {
    position: absolute;
    top: 16px;
    left: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $non-active-dark;
    transition: all 0.3s ease;
  }

  input {
    height: 52px;
    width: 100%;
    padding: 15px 20px;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.8) 100%
    );
    border: 1px solid $grey-color;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: transparent;
    margin-bottom: 25px;

    &::placeholder {
      color: transparent;
      opacity: 0;
    }

    &:focus,
    &:hover,
    &:not(:placeholder-shown) {
      border: 1px solid #4378ff;
      outline: $blue-color;
      color: #000000;
    }

    &:not(:placeholder-shown) + label,
    &:focus + label {
      top: -20px;
      left: 0;
      font-size: 16px;
      line-height: 16px;
      color: $blue-color;
    }
  }
}

.checkbox__wrapper {
  width: 100%;
  display: flex;
  margin-top: 15px;

  input {
    display: none;
  }

  .checkbox-mimic {
    width: 14px;
    height: 14px;
    margin-right: 10px;
    border: 1px solid #5f5088;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all 0.4s linear;

    &:hover {
      background: #8aabff;
      border: none;
      transition: 0.4s linear;
    }

    img {
      width: 14px;
      height: 14px;
      opacity: 0;
    }
  }

  input[type="checkbox"]:checked {
    & ~ .checkbox-mimic {
      border: none;
      background: transparent;

      img {
        width: 14px;
        height: 14px;
        opacity: 1;
      }
    }
  }

  label {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: $dark-color;

    .text {
      width: 100%;
    }
  }
}

.header {
  width: 100vw;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  background-color: #fff;
  border-bottom: 1px solid #dcdde0;

  .logo {
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #000000;
  }

  nav {
  }
}

.auth-form__wrapper {
  width: 100%;
  max-width: 476px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid $grey-color;
  backdrop-filter: blur(50px);
  border-radius: 10px;

  .auth-form__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    a {
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.02em;
      color: $dark-color;
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.code-form__wrapper {
  width: 100%;
  max-width: 476px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid #e0e0e0;
  backdrop-filter: blur(50px);
  border-radius: 10px;

  span {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: $dark-color;
    margin-bottom: 15px;
  }

  fieldset {
    border: none;
    padding: 0;
  }

  input {
    width: 46px;
    height: 63px;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    color: #a7a7a7;

    &:not(:last-child){
      margin-right: 13px;
    }

    &::placeholder {
      color: transparent;
      opacity: 0;
    }

    &:focus,
    &:hover,
    &[type="number"]:not(:placeholder-shown) {
      border: 1px solid #4378ff;
      outline: $blue-color;
      color: #000000;
    }
  }
}

.text-bold {
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
